body 
{
    background-color: black;
}

.countryname
{
    background-color: #4D70C2 !important;
    color: white !important;
}

.totalrecovered
{
    background-color: #2A933F !important;
    color: white !important;

}
.totalconfirmed
{
    background-color: #BCA92D !important;
    color: white !important;
}
.totaldeath
{
    background-color: #D8661C !important;
    color: white !important;
}
.totalactive
{
    background-color: #365CB1 !important;
    color: white !important;
}
.lastupdated
{
    background-color: #A49553 !important;
    color: white !important;
}

.txtshadow
{
    font-size: 2em !important;
    color: white !important;
    font-weight: 700;
    
    text-shadow: 0 1px 1px #bbb,
			   0 2px 0 #999, 
			   0 3px 0 #888, 
			   0 4px 0 #777, 
			   0 5px 0 #666, 
			   0 6px 0 #555, 
			   0 7px 0 #444, 
			   0 8px 0 #333, 
			   0 9px 7px #302314;
}